
@mixin global-bg() {
  background-color: $loader-color;
}

@mixin global-dither() {
  border: 1px solid $loader-dither-color;
}

@mixin global-animation() {
  animation-fill-mode: both;
}

@mixin balls($scale: $loader-scale) {
  @include global-bg();

  width: $loader-ball-radius;
  height: $loader-ball-radius;
  border-radius: 100%;
  margin: $loader-margin;
}

@mixin lines($scale: $loader-scale) {
  @include global-bg();

  width: $loader-line-width;
  height: $loader-line-height;
  border-radius: 2px;
  margin: $loader-margin;
}
